<html>
<head>
<meta charset="UTF-8">
<title>ML API</title>
</head>
<body>
<div class='login'>
<h1>Predict your Loan Approval Chances</h1>
<form action="{{url_for('predict')}}" method="post">
<input type="text" name="Dependents" placeholder="Dependents"><br><br>
<input type="text" name="LoanAmount" placeholder="loanAmount"><br><br>
<input type="text" name="Loan_Amount_Term" placeholder="Term"><br><br>
<input type="radio" name="Credit_History" value="1">Yes</input>
<input type="radio" name="Credit_History" value="0">No</input><br><br>
<input type="text" name="Total" placeholder="Income"><br><br>
Gender:&nbsp <input type="radio" name="gender" value="1">Male</input>
<input type="radio" name="gender" value="0">Female</input><br><br>
Education:&nbsp <input type="radio" name="Education" value="0">Graduate</input>
<input type="radio" name="Education" value="1">Not_Graduate</input><br><br>
<input type="text" name="semiurban" placeholder="semiurban"><br><br>
<input type="text" name="urban" placeholder="Urban"><br><br>
Marital Status:&nbsp <input type="radio" name="Married" value="1">YES</input>
<input type="radio" name="Married" value="0">No</input><br><br>
Employment:&nbsp <input type="radio" name="selfemploy" value="1">Self Employed</input>
<input type="radio" name="selfemploy" value="0">Job</input><br><br>
<button type="submit">Predict</button>
</form>
<br><br>
{{ prediction_text }}
</div>
</body>
</html>


